# OpenAI API Key (Required)
# Get from: https://platform.openai.com/api-keys
OPENAI_API_KEY=your-openai-api-key-here

# OpenRoute API Key (Required)
# Get from: https://openrouter.ai/settings/keys
OPENROUTER_API_KEY=your-openrouter-api-key-here

# OpenAI Model
OPENAI_MODEL=gpt-5-mini

# Openroute model
# Model bisa diganti:
# openai/gpt-4o-mini
# anthropic/claude-3.5-sonnet
# mistralai/mistral-large
OPENROUTER_MODEL_NAME2=qwen/qwen3-235b-a22b-2507
OPENROUTER_MODEL_NAME=google/gemma-3-27b-it

# REDIS (Celery Broker & Backend)
REDIS_URL=redis://redis:6379/0 #(Uncomment if using Docker)
#REDIS_URL=redis://localhost:6379/0

# CELERY CONFIG
CELERY_WORKER_CONCURRENCY=4
CELERY_TASK_TIMEOUT=120
CELERY_MAX_RETRIES=3

LLM_PROVIDER=openai